*/*/*.mod
*/*/output/*
*/*/*.out
*/*.out
*/*/*.txt
*/*/*.fit
*/*/*.log
*/*/*/*.log
*/*/*.sh
*/*/*.pdf
*/*.mod
*/*/*.o
*/*/*.gro
*/*.o
EX7/function3/main
.vscode
.DS_Store
EX7/function5/main
EX7/function4/interpol
EX8/MDprogram/main
*/*/*.log
EX8/diffusion/main
*/*/MSD*.out
*/*/MSD.out
EX7/function5/quadratic
EX7/function5/cubic
EX7/function5/construct2.f90


